.pagina {
    color: #ffffff;
}
.pagina h1 {
    font-size: 6rem;
}
.pagina h3 {
    font-size: 2rem;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
