nav {
    width: 40vw;
    height: fit-content;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    position: absolute;
    top: 1vw;
    left: 30vw;
    z-index: 2;
}
li {
    padding: 1rem;
    transition: 0.4s;
}
li:hover {
    color: white;
}
a {
    position: relative;
    text-decoration: none;
    color: #929292;
    letter-spacing: 0.6px;
    
}
a::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    // background: white;
    width: 0;
    height: 5px;
    left: 0;
    transition: 0.4s;
}
a:hover::after {
    width: 100%;
}
.activo::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    // background: white;

    // width: 0;
    height: 5px;
    left: 0;
    width: 100%;
}