.proyectos {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    width: 100vw;
    height: 80vh;
    align-content: center;
}

.leng-proy {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vh;
    justify-content: space-evenly;
}

.tec {
    width: fit-content;
    height: 5vh;
    // border-radius: 20px;
}

.proyecto_card {
    width: 20vw;
    height: fit-content;
    border-radius: 25px;
    // padding: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    // border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

section {
    width: 25vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    color: #000000;
    background: linear-gradient(to bottom, #ffffff, #000000);
    // background: linear-gradient(to bottom, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1), #000000);
    padding-bottom: 1.5rem;
    margin: 1rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.2s ease-in-out;
}

section:hover {
    padding-bottom: 3.5rem;
    background: linear-gradient(to bottom, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1), #000000);
}

.descripcion {
    width: 75%;
    // height: 100%;
    overflow: hidden;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 20vw;
}

.planetas_card {
    background-image: url('../../../assets/capturas/Captura\ de\ pantalla_2024-07-16_18-54-21.png');

}

.canchas_card {
    background: url('../../../assets/capturas/canchas.png');
}

.camisetas_card {
    background: url('../../../assets/capturas/camisetas.png');
}


.pagina h1 {
    font-size: 3.5rem;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

.pagina {
    justify-content: end;
}

h3 {
    font-size: 1.2rem;
}

a {
    height: fit-content;
    text-decoration: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #000000;
    // background: #000000;
    transition: all ease-in-out .1s;
    // padding: 0 1rem;
    opacity: 1;
    // border-radius: 15px;
    // margin-top: 0.5rem;
    // border: 2px solid #000000;
}

a:hover {
    // background: linear-gradient(to right,
    //         rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    // color: #000000;
    text-decoration: underline;
}