<div class="pagina" *transloco="let t">
    <div class="">
        <h1>< {{t('projects')}} /></h1>
        <div class="proyectos">
            <section>
                <img src="../../../assets/capturas/Captura de pantalla_2024-07-16_18-54-21.png" alt="planetas">
                <a href="https://planetas-psi.vercel.app/" target="_blank" class="contenido">
                    <div class="contenido.">{{ t('visit') }}</div>
                </a>
                <div class="descripcion">
                    <h3>{{ t('descr_p1') }}</h3>
                    <div class="leng-proy">
                        <div>
                            <img class="tec" id="typescript" src="../../../assets/lenguajes/react.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="js" src="../../../assets/lenguajes/javascript.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="css" src="../../../assets/lenguajes/css.png" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section>
                <img src="../../../assets/capturas/canchas.png" alt="canchas">
                <a href="https://proyecto-canchas-xi.vercel.app/" target="_blank" class="contenido">
                    <div class="">{{ t('visit') }}</div>
                </a>
                <div class="descripcion">
                    <h3>{{ t('descr_p2') }}</h3>
                    <div class="leng-proy">
                        <div>
                            <img class="tec" id="css" src="../../../assets/lenguajes/react.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="typescript" src="../../../assets/lenguajes/typesrcipt.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="js" src="../../../assets/lenguajes/tailwind.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="css" src="../../../assets/lenguajes/postgres.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="css" src="../../../assets/lenguajes/java.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <img src="../../../assets/capturas/camisetas.png" alt="camisetas">
                <a href="ttps://tienda-gray-theta.vercel.app/" target="_blank" class="contenido">
                    <div class="">{{ t('visit') }}</div>
                </a>
                <div class="descripcion">
                    <h3>{{ t('descr_p3') }}</h3>
                    <div class="leng-proy">
                        <div>
                            <img class="tec" id="js" src="../../../assets/lenguajes/angular.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="typescript" src="../../../assets/lenguajes/typesrcipt.png" alt="">
                        </div>
                        <div>
                            <img class="tec" id="css" src="../../../assets/lenguajes/sass.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>