<div class="pagina" >
    <h1>Mis proyectos</h1>
    <div class="proyectos">
            <a href="https://planetas-psi.vercel.app/" target="_blank" class="proyecto_card">
                <div class="container">
                    <canvas class="planetas_card"></canvas>
                    <div class="contenido">
                        <h3>Planetas</h3>
                        <p>Se pueden ver algunos datos de los planetas del sistema solar</p>
                    </div>
                </div>
            </a>
            <a href="https://proyecto-canchas-xi.vercel.app/" target="_blank" class="proyecto_card">
                <div class="container">
                    <canvas class="canchas_card"></canvas>
                    <div class="contenido">
                        <h3>Alquilar una cancha de futbol</h3>
                        <p>Sitio para buscar interesados en jugar un partido de futbol</p>
                    </div>
                </div>
            </a>
            <a href="https://tienda-gray-theta.vercel.app/" target="_blank" class="proyecto_card">
                <div class="container">
                    <canvas class="camisetas_card"></canvas>
                    <div class="contenido">
                        <h3>Tienda de camisetas</h3>
                        <p>Proyecto universitario simulando un ecommerce de camisetas de basquet</p>
                    </div>
                </div>
            </a>
    </div>
</div>