.tec {
    width: fit-content;
    height: 5vh;
    border-radius: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    width: 100vw;
    height: 120vh;
}

.separador {
    width: 60%;
    padding: 0.2rem 0;
    margin: 2rem 0;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
}

.lenguajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 2rem;
    height: 20vh;

}

.len-cnt {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.pagina {
    color: #ffffff;
}

div img {
    transition: 0.3s;
    padding: 1rem
}

div img:hover {
    transform: scale(1.2);
}

.sobre-mi {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin-bottom: 0.5vw;
}

.titulo {
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.ordenar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 16vw;
    color: white;
}

.texto {
    text-align: justify;
    text-align-last: left;
}