<div class="pagina" *transloco="let t">
    <div class="contenido">
        <section>
            <h1>
                < {{ t('personal') }} />
            </h1>
            <p>{{ t('personal_txt') }}</p>
            <p>{{ t('personal_txt_2') }}</p>
        </section>
        <div class="separador"></div>
        <section>
            <h1>
                < {{ t('skills') }} />
            </h1>
            <p>{{ t('skills_txt') }}</p>
        </section>
        <div class="separador"></div>
        <section>
            <h1>
                < {{ t('idiomas') }} />
            </h1>
            <p>{{ t('idiomas_txt') }} </p>
        </section>
    </div>
</div>