.contenido {
    width: 40vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: left;
    margin-top: 10vh;
}

section {
    padding: 1rem;
    border-radius: 50px;
    width: 40vw;
    height: fit-content;
    align-items: center;
    align-content: center;
}

.separador {
    width: 4vw;
    height: 1vh;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
}


.pagina {
    color: #ffffff;
}

h1 {
    font-size: 3.5rem;
    // color: black;
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin-bottom: 0.5vw;
}

.titulo {
    background: linear-gradient(to right, rgba(130, 255, 136, 0.7), rgba(243, 255, 130, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}

p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    transition: all ease-in-out 10s;
}

h1 {
    justify-self: center;
}