
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    // background: linear-gradient(to right bottom, #124220, #33e44b);
    background-color: #000000;
    // background-color: #9effab;
    width: 100vw;
    height: 100vh;
    // background: #131313;
    // background: rgb(169, 169, 169);
    // radial-gradient(#1f1f1f 85%, rgb(53, 53, 53) 85%, rgb(53, 53, 53) 100%);
    // linear-gradient(to right bottom, rgba(130, 255, 136, 0.7) 0%, #1f1f1f 12%, #1f1f1f 88%, rgba(243, 255, 130, 1) 100%);
    color: white;
    overflow-x: hidden;
    animation-name: body;
    animation-duration: 0.7s;
}

// body::-webkit-scrollbar {
//     width: fit-content;
    
//     background-color: transparent;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: #FFFBE0;
//     border-radius: 20px;
//     // margin-right: 5px;
//     /* roundness of the scroll thumb */
//     border: 3px solid orange;
//     /* creates padding around scroll thumb */
// }

.gabarito-nav {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.gabarito-text {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // width: 100vw;
    min-height: 100vh;
    // vertical-align: middle;
    animation-name: ppal;
    animation-duration: 0.7s;
}

@keyframes ppal {
    from {opacity: 0; margin-top: -100vh; }
    to {opacity: 1; margin-top: 0vw;}
}